name: CI
on: [push, pull_request]
permissions:
  contents: read
jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'  # Google Colab uses Python 3.12
          cache: pip
          cache-dependency-path: pyproject.toml
      - run: pip install .[test]
      - env:
          TEST_DATABASE_URL: postgresql://postgres:postgres@localhost:${{ job.services.postgres.ports[5432] }}/postgres
          # https://jupyter-core.readthedocs.io/en/stable/changelog.html#migrate-to-standard-platform-directories
          JUPYTER_PLATFORM_DIRS: 1
        # The tests must be run with ipython. However, ipython always returns exit code 0.
        #
        # https://github.com/OpenDataServices/flatten-tool/pull/458
        run: |
          ipython -m pytest
          ipython -m pytest -- -W error -W ignore::DeprecationWarning:ijson.compat --cov ocdskingfishercolab > pytest.out
          cat pytest.out
          [ -z "$(grep SystemExit pytest.out)" ]
      - uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432/tcp
