name: Lint
on: [push, pull_request]
jobs:
  lint:
    uses: open-contracting/.github/.github/workflows/lint.yml@main
    permissions:
      contents: read
    with:
      python-version: '3.12'
      # https://github.com/catherinedevlin/ipython-sql/issues/252
      standard-maintenance-scripts-ignore: prettytable
